@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background: #0f172a;
    color: #ffffff; */

    color: #0f172a;
    background-color: white;
    line-height: 1.6;
}

.hero-page{
    height: 300px;
    background-image: url("../images/hero.jpg"); /* Your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Dark overlay for better text readability */
.hero-page::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-page-content{
    position: relative;
    z-index: 1;
}

.hero-page h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.hero-page a{
    font-size: 1.2rem;
    color: tomato;
}

.hero-page span{
    font-size: 1.2rem;
    color: white;
}

.sec-title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* Categories Page */

.cat-sec{
    margin: 80px;   
}

.cont-sec-cat{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 0px;
}

.cont-sec-cat a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 150px;

     /* background-image: url("images/hero.jpg"); Your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    border-radius: 10px;

    font-weight: 500;
    transition: 0.3s ease all;
}

.cont-sec-cat a:hover{
    color: tomato;
    font-size: 20px;
}

/* For Mobile */

.sec-sub-title{
    font-size: 25px;
    font-weight: 600;
}

.title-page-1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;

    width: 180px;      /* Underline length */
    height: 4px;      /* Thickness */

    background: #0f172a;
    border-radius: 50px;
}

.title-page-2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;

    width: 160px;      /* Underline length */
    height: 4px;      /* Thickness */

    background: #0f172a;
    border-radius: 50px;
}

/* For privacy policy */
.hero-2{
    height: 300px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Dark overlay for better text readability */
.hero-2::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.45);
}

.hero-content-2{
    position: relative;
    z-index: 1;
}

.hero-2 h1{
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.hero-2 a{
    font-size: 1.2rem;
    color: tomato;
}

.hero-2 span{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.hero-2 p{
    font-size: 1.2rem;
    color: #000000;
}

.policy-hero{
    height: 250px;
    background: url("../images/img.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: rgb(0, 0, 0);
}

.policy-hero h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.policy-hero p{
    color: #0f172a;
    font-size: 18px;
}

.policy-container{
    max-width: 900px;
    margin: 0 auto 100px auto;
    padding: 0 20px;
    color: #0f172a;
}

.policy-container h2{
    margin-top: 40px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.policy-container p{
    margin-bottom: 20px;
    line-height: 1.8;
    color: #0f172a;
}

.policy-container ul{
    margin-left: 25px;
    margin-bottom: 25px;
    display: block;
}

.policy-container li{
    margin-bottom: 10px;
    color: #0f172a;
}

